@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #eee;
    margin: 40px auto;
    position: relative;
    
    h1 {
        padding: 15px 30px;
        background: #eee;
        color: rgb(93, 93, 223);
    }
    
    .switch-mode {
        width: 50px;
        height: 50px;
        filter: brightness(8);
        border-radius: 5px;
        cursor: pointer;
        transition: .4s;
        position: absolute;
        padding: 10px;
        top: 15px;
        right: 50px;
    }

    .switch-mode:hover {
        background: #eeeeee93;
    }
    
    .actionArea {
        padding: 15px 30px;

        input {
            padding: 15px;
            width: 400px;
            border: 1px solid #eee;
            transition: .4s;
            outline: 1px solid transparent;
            font-size: 18px;
        }

        input:focus {
            outline-color: #ccc;
        }
        
        span {
            display: block;
            font-size: 18px;
            padding: 20px;
            background: #eee;
            margin-top: 18px;
            width: fit-content;
        }
    }
}

.info {
    border: 1px solid #eee;
    align-items: center;
    width: fit-content;
    max-width: 90%;
    padding: 20px;
    display: flex;
    margin-left: 80px;
    gap: 50px;

    .info-img {
        max-width: 50px;
        display: grid;
        place-content: center;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 90%;

        h1 {
            font-size: 25px;
        }

        .switch-mode {
            top: 8px;
            right: 10px;
            background: rgb(93, 93, 223);
        }

        .actionArea {
            width: 100%;

            input {
                width: 100%;
            }
        }
    }
}